@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	--font-sans: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system,
		system-ui, sans-serif;
	--font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Calibre';
	src: url('/fonts/Calibre/Calibre-Regular.woff2') format('woff2'),
		url('/fonts/Calibre/Calibre-Regular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
	font-display: auto;
}

@font-face {
	font-family: 'Calibre';
	src: url('/fonts/Calibre/Calibre-RegularItalic.woff2') format('woff2'),
		url('/fonts/Calibre/Calibre-RegularItalic.woff') format('woff');
	font-style: italic;
	font-weight: 400;
	font-display: auto;
}

@font-face {
	font-family: 'Calibre';
	src: url('/fonts/Calibre/Calibre-Medium.woff2') format('woff2'),
		url('/fonts/Calibre/Calibre-Medium.woff') format('woff');
	font-style: normal;
	font-weight: 500;
	font-display: auto;
}

@font-face {
	font-family: 'Calibre';
	src: url('/fonts/Calibre/Calibre-MediumItalic.woff2') format('woff2'),
		url('/fonts/Calibre/Calibre-MediumItalic.woff') format('woff');
	font-style: italic;
	font-weight: 500;
	font-display: auto;
}

@font-face {
	font-family: 'Calibre';
	src: url('/fonts/Calibre/Calibre-Semibold.woff2') format('woff2'),
		url('/fonts/Calibre/Calibre-Semibold.woff') format('woff');
	font-style: normal;
	font-weight: 600;
	font-display: auto;
}

@font-face {
	font-family: 'Calibre';
	src: url('/fonts/Calibre/Calibre-SemiboldItalic.woff2') format('woff2'),
		url('/fonts/Calibre/Calibre-SemiboldItalic.woff') format('woff');
	font-style: italic;
	font-weight: 600;
	font-display: auto;
}

/* SF MONO */

@font-face {
	font-family: 'SF Mono';
	src: url('/fonts/SFMono/SFMono-Regular.woff2') format('woff2'),
		url('/fonts/SFMono/SFMono-Regular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
	font-display: auto;
}

@font-face {
	font-family: 'SF Mono';
	src: url('/fonts/SFMono/SFMono-RegularItalic.woff2') format('woff2'),
		url('/fonts/SFMono/SFMono-RegularItalic.woff') format('woff');
	font-style: italic;
	font-weight: 400;
	font-display: auto;
}

@font-face {
	font-family: 'SF Mono';
	src: url('/fonts/SFMono/SFMono-Medium.woff2') format('woff2'),
		url('/fonts/SFMono/SFMono-Medium.woff') format('woff');
	font-style: normal;
	font-weight: 500;
	font-display: auto;
}

@font-face {
	font-family: 'SF Mono';
	src: url('/fonts/SFMono/SFMono-MediumItalic.woff2') format('woff2'),
		url('/fonts/SFMono/SFMono-MediumItalic.woff') format('woff');
	font-style: italic;
	font-weight: 500;
	font-display: auto;
}

@font-face {
	font-family: 'SF Mono';
	src: url('/fonts/SFMono/SFMono-Semibold.woff2') format('woff2'),
		url('/fonts/SFMono/SFMono-Semibold.woff') format('woff');
	font-style: normal;
	font-weight: 600;
	font-display: auto;
}

@font-face {
	font-family: 'SF Mono';
	src: url('/fonts/SFMono/SFMono-SemiboldItalic.woff2') format('woff2'),
		url('/fonts/SFMono/SFMono-SemiboldItalic.woff') format('woff');
	font-style: italic;
	font-weight: 600;
	font-display: auto;
}
